---
layout: base
permalink: /index.html
title: 'Ames Scouts'
description: 'Join Ames Scouts for fun, adventures, and character development.'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-sa-blue)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-light);">{{ title }}</h1>
    </div>
    {% svg "divider/waves", null, "divider" %}
  </header>

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2 class="charm-text">Welcome</h2>
      <p>
        Scouting is a fun way to spend time with your child and the whole family. The fun has a purpose:  to help reinforce the positive values you want your child to develop---character, leadership, personal fitness, and citizenship. These values are presented in a fun and engaging method along with experiencing the outdoors, learning about personal safety, and discovering your family traditions.
      </p>

      <img
        src="../assets/images/pack275/pack275-cub-scout-teamwork.jpg"
        alt="Scouts working together in a relay race."
        class="image-full"></img>
    </div>
  </article>

</div>
